/* Container and layout */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-color, #a3b18a);
  font-family: 'Times';
 }


