/* app/page.module.css */
.page {
  height: 100dvh; /* fills the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  gap: 40px;
}


.name {
  color: #3f5621; /* muted green */
  font-size: 2rem;
  margin-bottom: 1rem;
}
